@import 'tailwindcss/tailwind.css';

body {
  font-family: 'Arial', sans-serif;
}

@keyframes colorChange {
  0% { background-color: #ec4899; }  /* Pink */
  25% { background-color: #f97316; } /* Orange */
  50% { background-color: #22c55e; } /* Green */
  75% { background-color: #3b82f6; } /* Blue */
  100% { background-color: #ec4899; } /* Back to Pink */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: calc(20 * 250px); 
  animation: scroll 60s linear infinite; 
}


